// Dark
$color-background-card-dark: #0E131F;
$color-text-button-dark: #AFDEDC;
$color-text-dark: #F4FAFF;

// Light
$color-background-card-light: #B9C4DF;
$color-text-button-light: #F1F9F9;
$color-text-light: #000B14;

$font-family-text: 'Lato', sans-serif;
$font-family-title: 'Kanit', sans-serif;
